*__pycache__
App/Trials/*
App/XML/*
*.pem
*.env
*.swp
Logs/*
App/server.log
.DS_Store
.idea/*
.projectConfig.yml
App/.trialConfig.yml

App/MtiaeScoreAgent/*
App/Math*
App/FR*
App/Impressions/*
App/.DS_Store
App/score*

