shortuuid==1.0.1
asyncio==3.4.3
websockets==9.1
numpy
Pillow==9.0.1
boto3==1.14.20
python-dotenv==0.14.0
pyYaml==5.4
joblib==1.0.1
numpy==1.21.0
threadpoolctl==2.1.0
pexpect
setuptools==65.5.0
wheel<0.40.0
pyglet==1.5.27
gymnasium==0.27.1
gymnasium-notices==0.0.1
pygame